/* This is a reset to standardize the margins and paddings across browsers */
body {
background-color: #f8f8f8;
}

html, body, h1 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #3b3b3b;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
}

nav, section {
  margin: 0 auto;
  max-width: 700px;
}

section {
  padding: 50px 20px 50px; /* top, left/right, bottom */
}

/***
HEADER
***/
header {
  background-color: #f8f8f8;
  /***background-image: url(background.jpg);***/
  background-size: cover;
  background-position: center;


  padding: 20px;
  /* This is equivalent to what I wrote above:
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px; */

  color: #3b3b3b; /* white */
}

header a {
  color: #3b3b3b;
  text-decoration: none;
}
header a:hover {
  color: #d6d6d6;
}
header a:active{
  color: #3b3b3b;
}

nav {
  text-align: center;
  max-width: unset;
  padding-left: 20px;
  padding-right: 20px;
}

nav .logo {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.19em;
  color: #3b3b3b;
  padding-top: 7px;
}

.top-menu {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  padding: 6px 0px;
}

.top-menu li {
  letter-spacing: .05em;
  font-size: 12px;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 10px;
}

.top-menu li:last-child {
  margin-right: 0px;
}

.top-menu.menu-left {
  position: absolute;
  top: 20px;
  left: 30px;
}
.top-menu.menu-right {
  position: absolute;
  top: 20px;
  right: 30px;
}

.header-content {
  max-width: 700px;

  margin: 140px auto 140px;
/*  This centers the element

This is equivalent to what I wrote above:
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto; */

  font-size: 42px;
  font-weight: 500;
  text-align: center;
}

.header-content b {
  color: #3ABADE;
}
/***
ABOUT ME
***/
.about {
  padding-bottom: 100px;
}
section p {
  font-size: 15px;
  line-height: 2em;
  letter-spacing: 0.034666667em;
}

/***
PROJECTS
***/
.projects {
  max-width: 1200px;
  text-align: center;
position: relative;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects li{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.projects li img {
  display: block;
  margin: 0;
  padding: 0;
}

.project-block {
  display: block;
  background-position: center;
  background-size: contains;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  position: relative;
}

.project-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.project-text {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  text-decoration: none;
}

.project-block:hover .project-text {
  opacity: 1;
  transition: opacity 0.6s ease-in;
}


.project1 {
  background-color: #4CB7DB;
  background-image: url(wanderlift_logo.png);
  background-size: 200px;
}
.project1 .project-text {
  background-color: rgba(76,183,219,0.6);
}

.project2 {
  background-color: #DCD3E4;
  background-image: url(lavenderqueenfairy.jpg);
  background-size: cover;
}
.project2 .project-text {
  background-color: rgba(220,211,228,0.6);
}
.project3 {
  background-color: #EC4E2B;
  background-image: url(modeling_cover.png);
  background-size: 300px;
  width: 1000px;
}
.project3 .project-text {
  background-color: rgba(236,78,43,0.6);
}

.project4 {
  background-color: #E6EFEF;
  background-image: url(forest_drawing.jpg);
  background-size: cover;
}
.project4 .project-text {
  background-color: rgba(230,239,239,0.6);
}

.project5 {
  background-color: #0F1D2F;
  background-image: url(purplechurch3.png);
  background-size: 300px;
}
.project5 .project-text {
  background-color: rgba(15, 29, 47,0.6);
  color: #4c4c4c;
  text-decoration: none;
}
/***
INSTAGRAM
***/

.poloroid {
  width: 250px;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
  padding: 20px;
  position: relative;
}

.poloroids {
position: relative;
height: 400px;
}

.poloroid img {
  width: 100%;
}

.poloroid.p1 {
  position: absolute;
  top: 10px;
  right: 20px;
  transform: rotate(10deg);
}

.poloroid.p2 {
  position: absolute;
  top: 10px;
  right: 20px;
  transform: rotate(-30deg);
}

.poloroid.p3 {
  position: absolute;
  top: 13px;
  right: 100px;
  transform: rotate(20deg);
}

footer {
  background-color: #f8f8f8;
  height: 50px;
  padding-top: 200px;
  padding: 20px;
}
footer h3 {
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer li {
  display: inline-block;
  margin-right: 50px;
  color: #3b3b3b;
  text-decoration: none;
}

footer li:last-child{
  margin-right: 0px;
}

footer a {
  color: #3b3b3b;
  text-decoration: none;
}

footer a:hover {
  color: #d8d8d8;
  text-decoration: none;
}
/***
UTILITIES
***/
.t-c {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

@media screen and (max-width: 1040px) {
  .project-block {
    width: 400px;
    height: 400px;
    transition: width 0.3s ease, height 0.3s ease;
  }
}
@media screen and (max-width: 840px) {
  .project-block {
    width: 350px;
    height: 350px;
    transition: width 0.3s ease, height 0.3s ease;
  }
}
@media screen and (max-width: 500px) {
  .project-block {
    width: 350px;
    height: 350px;
    transition: width 0.3s ease, height 0.3s ease;
  }
  .project-block .project-text{
    color: #ffffff;
    opacity: 1;
    background: none;
    top: unset;
  }
  .project-block .project-text h2 {
    letter-spacing: 0.04em;
    font-size: 14px;
  }
  .header-content {
    font-size: 35px;
    margin: 80px 20px;
    transition: font-size 0.6s ease;
  }
}

@media screen and (max-width: 930px) {
  .top-menu.menu-left, .top-menu.menu-right {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
  }
}
